<% provide(:title, "Complete Dental Marketing") %>

			<div id="intro" class="clearFix">
				<p>If you're tired of wondering where your marketing dollars are going, or just want better results with less time spent on your part, we're here to help. We have the top creative talent to develop your brand, and the experience to get the most out of your internal and external marketing dollars</p>
<%#
                                <p><b>Marketing</b> - is EVERYTHING you do to communicate who you are, what you do and why it matters to the consumer and your patients. This begins with your brand and the foundation you set forth<p>
				<p><b>Branding</b> - is the promise you make to your patients that helps separate you from teh competition. Your brand is made up of visual, verbal, written and environmental communications. Examples include logos, taglines, colors, fonts, team culture, and practice environment<p>
                                <p><b>Internal Marketing</b> - Includes all activities that take place in your practice that are designed to enhance the pateitn experience in order to convert interested prospects into raving fans. They then tall your brand story for you, and become a part of your marketing strategy. Examples include Patient services, referral programs, retention, recall and reactivation programs<p>
                                <p><b>External Marketing</b> - These are all activities that look for people who are interested in becoming patients. They goal is to get them to call your office. Examples include your website, videos, search engine marketing, social media, direct mailers and signage. <p>
                                <p><b>ROI</b> - In order for a marketing program to reach full potential, all of the above elements including your message, frequency, timing, reach, budget and goal must be considered. Autopilot Marketing's complete suite of services will ensure your success in each of these key areas<p>
%>
			</div>
	<%= render 'users/a_dentist_form' %>
	<%= render 'users/consultant_form' %>
	
